<a href="#/categories">Liste des categories</a>
<div class="panel panel-default" ng-init="getCategorie()">
  <div class="panel-heading">
    <h3 class="panel-title"> Details de la categorie {{categorie.nom}}</h3>
  </div>
  <div class="panel-body">
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">Type: {{categorie.nom}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a href="#/categories/edit/{{categorie._id}}">Modifier</a> |  <a href="#" ng-click="removeCategorie(categorie._id)">Supprimer cette categorie</a>
</div>


  