
 <a class=" btn btn-success" href="#/articles">Liste des articles</a>
<hr>

<div class="panel panel-default" ng-init="getArticle()">
  <div class="panel-heading">
    <h3 class="panel-title">{{article.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
         <img src="{{article.image_url}}">
      </div>
      <div class="col-md-8">
        <h4>Description</h4>
        </p>{{article.description}}</p>
        <ul class="list-group">
          <li class="list-group-item">Publié par : {{article.author}}</li>
          <li class="list-group-item">Prix : {{article.price}}  €</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a class="btn btn-primary" href="#/articles/edit/{{article._id}}"> <em class="fa fa-pencil"></em> Modifier</a> |  <a href="#" class="btn btn-danger" ng-click="removeArticle(article._id)"><em class="fa fa-trash-o"></em>Supprimer</a>
</div>
  