<a class=" btn btn-success" href="#/users">Liste des clients</a>
<hr>

<div class="panel panel-default" ng-init="getUser()">
  <div class="panel-heading">
    <h3 class="panel-title">{{user.prenom}} {{user.nom}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{user.image_url}}" class="img-responsive">
      </div>
      <div class="col-md-8">
        <ul class="list-group">
           <li class="list-group-item">Type : {{user.type}}</li>
          <li class="list-group-item">Sexe : {{user.sexe}}</li>
          <li class="list-group-item">Age : {{user.age}}</li>
          <li class="list-group-item">Nom d'utilisateur : {{user.identifiant}}</li>
           <li class="list-group-item">Mot de passe : {{user.motdepasse}}</li>
            <li class="list-group-item">Email : {{user.email}}</li>
        </ul>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a  class="btn btn-primary" href="#/users/edit/{{user._id}}"> <em class="fa fa-pencil"></em> Modifier</a> |  <a class="btn btn-danger" href="#" ng-click="removeUser(user._id)"><em class="fa fa-trash-o"></em> Delete</a>
</div>